.p-inputtext 
{
    background-color: #fff;
    border-radius: 6px;
    color: #272B30;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.53;
    padding: 6px 12px;
    width: 100%;
    border: 1px solid #32475c38;
    font-family: 'Lato', sans-serif !important;
}
.p-calendar{
    border: 1px solid #32475c38;
    border-radius: 6px;
}

.p-inputtext:enabled:focus,
.p-inputtext:enabled:focus-visible {
    box-shadow: none !important;
    border-color: #21409a !important;
}
.errorBorder .p-inputtext,.errorBorder .p-calendar {
    border: 1px solid #dc2020;
}

.p-inputtext:enabled:hover {
    border-color: #b7b8ba;
}
.Search-Input{
    padding-left: 2rem !important;
}
/* calender */
.p-calendar,
.p-colorpicker-overlay {
    width: 100%;
}
 
.p-button.p-button-icon-only {
    width: 3rem;
   
}
.p-card .p-card-content {
    padding: 0;
}
.p-card {
    background-clip: padding-box;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 6px 0 #4359711f;
}
.colorpicker {
    height: 34px;
    padding: 8px 12px;
}

.p-calendar .p-inputtext{
    border: none;
}
.p-disabled{
    background-color: #b3b9c059 !important;
}
.p-disabled .p-inputtext{
    background-color: transparent !important;
}